.sectionContainer {
  letter-spacing: 0.1rem;
  padding: 10px 2rem 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.GridContainer {
  margin-top: 50px;
}
.GridItem {
  display: flex;
justify-content: center;
}